<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.jobpilot.apply</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>{{ROOT}}/bin/apply.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>41</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>19</integer></dict>
    <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>7</integer></dict>
    <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>53</integer></dict>
    <dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>31</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>/tmp/jobpilot-apply.log</string>
  <key>StandardErrorPath</key><string>/tmp/jobpilot-apply.err.log</string>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
